<% collection.each do |loan| %>
  <div class="loans">
    <div class="card mb-4">
        <div class="card-body">
            <% if loan.completed %>
              <div class="alert alert-success">This loan has been completely paid!</div>
              <hr />
            <% end %>
            <%= render 'loan_progress', loan: loan %>
            <h5 class="card-title mt-2"><%= loan_title(loan) %></h5>
            <h6 class="card-subtitle mb-2 text-muted">Total amount of loan: <%= display_amount(loan) %></h6>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <%= link_to 'View Loan', loan_path(loan), class: 'card-link btn btn-wide btn-outline-info' %>
        </div>
    </div>
  </div>
<% end %>